* {
    box-sizing: border-box !important;
}

dt#Country+#EmployeeId,
#AddressId {
    display: none;
}

table.inAudit {
    display: flex;
}

tr.inAudit {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

tr.inAudit:has(tr)>tr.inAudit {
    padding: 0 !important;
    margin: 0 !important;
}

tr.inAudit>tr>* {
    flex: 1;
}

tr.inAudit>*:not(tr) {
    flex: 1;
}

tr.inAudit>*:not(tr),
tr.inAudit>tr>*,
th.inAudit {
    padding: 1dvmin !important;
}

input:not(#modifiedTime).inAudit {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95) !important;
    color: currentColor;
    scale: .9 .75;
}

th.inAudit>input {
    background: none !important;
}

tr:has(input[type="time"]:not(#modifiedTime).inAudit:hover) {
    position: relative;
}

input[type="time"].inAudit:hover+input:not(#modifiedTime) {
    display: flex;
    inset-block: 5%;
    inset-inline: 10%;
}
input.inAudit:not([type="time"], [type="button"]){
    display: none;
    left: 50%;
    transition: all 2s ease;
}

tr.inAudit.update>tr+tr {
    position: relative;
}

tr.inAudit>* {
    border-bottom: .25dvmin solid gray;
    border-right: .25dvmin solid gray;
}

th.inAudit {
    border-block: .25dvmin solid black;
    border-right: .25dvmin solid black;
}

th.inAudit>input:not(#modifiedTime){
    left: 3%;
    scale: .9;
}


th.inAudit,
tr.inAudit>td:empty {
    border-left: .25dvmin solid gray;
}

tr:has(s)>td:empty {
    border-bottom: .25dvmin solid gray;
}

tr.inAudit.update>tr:not(:has(s))>td:empty {
    border-bottom-color: transparent !important;
}

tr.inAudit {
    border: none !important;
}

#headMt {
    position: relative;
}

#headMt>input :not(#modifiedTime){
    inset: 2%;
}

tr:has(:last-child>td:last-child) {
    background-color: red !important;
    display: none;
}

#modifiedTime {
    border: none;
}

th.inAudit:first-child {
    border-top-left-radius: 1.5dvmin;
}
th.inAudit:last-child {
    border-top-right-radius: 1.5dvmin;
}

input[type="time"].inAudit{
    border-radius: 1dvmin;
}

@keyframes shake {
    0%{
        transform: translateX(0)
    }
    100% {
        transform: translateX(1dvmin)
    }

}