* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: absolute;
  inset: 0;
  height: 100vh;
  height: 100dvh;
  margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html,
body {
  display: flex !important;
  flex-direction: column !important;
  position: absolute !important;
  inset: 0 !important;
}

header,
footer {
  inset-inline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(.5vmin);
  backdrop-filter: blur(.5dvmin);
}

header {
  position: sticky !important;
  top: 0;
}

footer {
  position: fixed !important;
  bottom: 0;
}

thead {
  border-bottom: solid;
}

th + td:not(:has(input, select, svg))::before {
  content: ' : ';
}